@page
@model StudentPortal.Pages.SettingsModel
@{
    ViewData["Title"] = "Quản lý chức năng";
    Layout = "_Layout";
}
@* Version: jsTree - 3.3.16 *@

@section Heads {
    <link rel="stylesheet" href="~/assets/vendor/libs/jstree/jstree.css">
}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb breadcrumb-style1 mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Quản lý chức năng</li>
    </ol>
</nav>

<div class="card mb-4">
    <h5 class="card-header">Danh sách chức năng</h5>
    <div class="card-body">
        <details id="listurl">
            <summary>Trang chủ</summary>
        </details>
    </div>
</div>

@section Scripts {
    <script src="~/assets/vendor/libs/jstree/jstree.js"></script>
    <script>
        $(document).ready(function () {
            renderListUrl();
        });

        function renderListUrl() {
            $.ajax({
                url: 'http://192.168.98.60:8080/api/settings',
                type: 'GET',
                success: function (result) {
                    if (result.errorCode === 200) {
                        if (result.data.items.length > 0) {
                            result.data.items.forEach((item, index) => {
                                // Tạo thẻ details cho mục cha
                                $('#listurl').append(`
                                    <details id="listurl${index}" class="ps-4">
                                        <summary>${item.text}</summary>
                                    </details>`);

                                // Kiểm tra và thêm các mục con
                                if (item.childrensMenus && item.childrensMenus.length > 0) {
                                    item.childrensMenus.forEach((u, i) => {
                                        $('#listurl' + index).append(`
                                            <details class="ps-4">
                                                <summary>${u.text}</summary>
                                            </details>`);
                                    });
                                }
                            });
                        } else {
                            $('#listurl').append(`<span>No URL</span>`);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>
}