@page
@model StudentPortal.Pages.SettingsModel
@{
    ViewData["Title"] = "Quản lý chức năng";
    Layout = "_Layout";
}

@section Heads{
    <link rel="stylesheet" href="~/assets/vendor/libs/jstree/jstree.css">
}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb breadcrumb-style1 mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Quản lý chức năng</li>
    </ol>
</nav>
<div class="card mb-md-0 mb-4">
    <h5 class="card-header">Checkboxes</h5>
    <div class="card-body">
        <div id="jstree-checkbox" class="jstree jstree-5 jstree-default jstree-checkbox-selection" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j5_1" aria-busy="false">
            <ul class="jstree-container-ul jstree-children jstree-wholerow-ul jstree-no-dots" role="presentation">
                <li role="none" id="j5_1" class="jstree-node  jstree-closed">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="j5_1_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>css
                    </a>
                </li>
                <li role="none" id="j5_4" class="jstree-node  jstree-open">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j5_4_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>img
                    </a>
                    <ul role="group" class="jstree-children">
                        <li role="none" id="j5_5" class="jstree-node  jstree-leaf">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j5_5_anchor">
                                <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                                <i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>bg.jpg
                            </a>
                        </li>
                        <li role="none" id="j5_6" class="jstree-node  jstree-leaf">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div><i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j5_6_anchor">
                                <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                                <i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>logo.png
                            </a>
                        </li>
                        <li role="none" id="j5_7" class="jstree-node  jstree-leaf jstree-last">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">
                                &nbsp;
                            </div><i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j5_7_anchor">
                                <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                                <i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>avatar.png
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="none" id="j5_8" class="jstree-node  jstree-open">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j5_8_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>js
                    </a>
                    <ul role="group" class="jstree-children">
                        <li role="none" id="j5_9" class="jstree-node  jstree-leaf">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div><i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j5_9_anchor">
                                <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                                <i class="jstree-icon jstree-themeicon bx bxl-nodejs text-warning jstree-themeicon-custom" role="presentation"></i>jquery.js
                            </a>
                        </li>
                        <li role="none" id="j5_10" class="jstree-node  jstree-leaf jstree-last">
                            <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div><i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j5_10_anchor">
                                <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                                <i class="jstree-icon jstree-themeicon bx bxl-nodejs text-warning jstree-themeicon-custom" role="presentation"></i>app.js
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="none" id="j5_11" class="jstree-node  jstree-leaf">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j5_11_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>index.html
                    </a>
                </li>
                <li role="none" id="j5_12" class="jstree-node  jstree-leaf">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j5_12_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>page-one.html
                    </a>
                </li>
                <li role="none" id="j5_13" class="jstree-node  jstree-leaf jstree-last">
                    <div unselectable="on" role="presentation" class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i>
                    <a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j5_13_anchor">
                        <i class="jstree-icon jstree-checkbox" role="presentation"></i>
                        <i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>page-two.html
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/vendor/libs/jstree/jstree.js"></script>
    <script src="~/assets/js/extended-ui-treeview.js"></script>
}