@page
@{
    ViewData["Title"] = "Quản lý chức năng";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb breadcrumb-style1 mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Quản lý chức năng</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="col-4">
            <div class="input-group input-group-merge">
                <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
            </div>
        </div>
        <div class="d-flex gap-3">
            <button type="button" id="btnRemove" class="btn btn-outline-reddit" onclick="removeAll()" disabled>
                <i class='bx bx-message-square-minus me-1'></i>Xóa
            </button>
            <button type="button" id="benAdd" class="btn btn-label-linkedin" data-bs-toggle="modal" data-bs-target="#addMenuModal">
                <i class='bx bx-message-square-add me-1'></i>Thêm mới
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="w-px-50 text-center"><input class="form-check-input" style="width: 18px; height: 18px;" type="checkbox" id="selectAll"></th>
                        <th>Tên chức năng</th>
                        <th>Địa chỉ URL</th>
                        <th class="w-px-50 text-center">Thứ tự</th>
                        <th class="text-center">Vai trò</th>
                        <th class="w-px-50 text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="listUrl"></tbody>
            </table>
        </div>
    </div>
</div>


@* Modal *@
<div class="modal fade" id="addMenuModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form class="modal-content" id="addMenuForm">
            <div class="modal-header">
                <h5 class="modal-title" id="addMenuModalTitle">Khai báo chức năng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="textMenu" class="form-label">Tên chức năng</label>
                        <input type="text" id="textMenu" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="urlMenu" class="form-label">Đường dẫn</label>
                        <input type="text" id="urlMenu" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="roles" class="form-label">Danh sách quyền được phép truy cập</label>
                        <input type="text" id="roles" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="icon" class="form-label">Biểu tượng</label>
                        <input type="text" id="icon" class="form-control">
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="level" class="form-label">Cấp độ</label>
                        <input type="number" id="level" class="form-control">
                    </div>
                    <div class="col">
                        <label for="order" class="form-label">Vị trí</label>
                        <input type="number" id="order" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="order" class="form-label">Tùy chọn danh mục cha & con</label>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" id="subMenu">
                            <label class="form-check-label" for="subMenu">
                                Đặt làm chức năng con
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="order" class="form-label">Tùy chọn hiển thị</label>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" id="isActive">
                            <label class="form-check-label" for="isActive">
                                Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" id="renderParentId" hidden>
                        <label for="parentId" class="form-label">Thuộc chức năng cha</label>
                        <select id="parentId" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addMenu()">Thêm danh mục</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            renderListUrl();
        });

        function renderItem(c) {
            return `<tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox" id="selectItem${c.id}"></td>
                        <td>${c.level === 1 ? '' : `<i class='ps-1 bx bx-subdirectory-right'></i>`} ${c.icon} ${c.text}</td>
                        <td class="${c.level === 1 ? '' : 'ps-5'}">${c.level === 1 ? ('/' + c.url) : ('.. /' + c.url)}</td>
                        <td class="text-center">${c.order}</td>
                        <td class="text-center">${c.roles}</td>
                        <td class="text-center">
                            <span class="badge bg-label-${c.isActive ? 'primary' : 'danger'}">${c.isActive ? 'Kích hoạt' : 'Không kích hoạt'}</span>
                        </td>
                    </tr>`;
        }

        function renderListUrl() {
            $.ajax({
                url: 'http://192.168.98.60:8080/api/settings',
                type: 'GET',
                success: function (result) {
                    if (result.errorCode === 200) {
                        $('#listUrl').empty();
                        $('#parentId').empty();
                        if (result.data.items.length > 0) {
                            result.data.items.map((item, index) => {
                                var t = renderItem(item);
                                $('#parentId').append(`<option value="${item.id}"><i class="${item.icon}"></i> ${item.text}</option>`);
                                $('#listUrl').append(t);
                            });
                        }
                        else {
                            $('#listUrl').append(`<tr class="text-center"><td colspan="7">No Data</td></tr>`);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        //nếu subMenu được check thì hiển thị parentId
        $('#subMenu').change(function () {
            if (this.checked) {
                $('#renderParentId').attr('hidden', false)
            } else {
                $('#renderParentId').attr('hidden', true)
            }
        });

        function addMenu() {
            var data = {
                Text: $('#textMenu').val(),
                Url: $('#urlMenu').val(),
                icon: $('#icon').val(),
                Level: $('#level').val(),
                Order: $('#order').val(),
                Roles: $('#roles').val(),
                IsSubMenu: $('#subMenu').is(':checked'),
                IsActive: $('#isActive').is(':checked'),
                ParentId: $('#parentId').val()
            }
            $.ajax({
                url: 'http://192.168.98.60:8080/api/settings',
                type: 'POST',
                processData: false,
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.errorCode === 201) {
                        $('#addMenuModal').modal('hide');
                        toastr.success(`Thêm chức năng thành công`);
                        renderListUrl()
                        renderAsideMenu()
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $('#listUrl').on('change', 'input[type="checkbox"][id^="selectItem"]', function () {
            // Check if any selectItem checkbox is checked
            if ($('#listUrl input[type="checkbox"][id^="selectItem"]:checked').length > 0) {
                $('#selectAll').prop('checked', true);
                $('#btnRemove').prop('disabled', false);
            } else {
                $('#selectAll').prop('checked', false);
                $('#btnRemove').prop('disabled', true);
            }
        });
        $('#selectAll').on('change', function () {
            $('#listUrl input[type="checkbox"][id^="selectItem"]').prop('checked', this.checked);
            //if selectAll is checked then remove disabled for id=btnRemove
            if (this.checked) {
                $('#btnRemove').prop('disabled', false);
            } else {
                $('#btnRemove').prop('disabled', true);
            }
        });

        function removeAll() {
            var ids = [];
            $('#listUrl input[type="checkbox"][id^="selectItem"]:checked').each(function () {
                ids.push($(this).attr('id').replace('selectItem', ''));
            });
            $.ajax({
                url: 'http://192.168.98.60:8080/api/settings',
                type: 'DELETE',
                contentType: 'application/json',
                processData: false,
                data: JSON.stringify(ids),
                success: function (result) {
                    if (result.errorCode === 204) {
                        toastr.success(`Xóa thành công ${ids.length} chức năng`);
                        $('#selectAll').prop('checked', false);
                        renderListUrl();
                        renderAsideMenu();
                    }
                },
            });
        }

        $('#textMenu').on('input', function () {
            var textMenuValue = $(this).val();
            var slug = convertToSlug(textMenuValue);
            $('#urlMenu').val(slug);
        });

        function removeDiacritics(str) {
            var from = "àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ";
            var to = "aaaaaaaaaaaaaaaaaeeeeeeeeeeeiiiiiooooooooooooooooouuuuuuuuuuuyyyyyd";
            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(new RegExp(from[i], "gi"), to[i]);
            }
            return str;
        }

        // Function to convert text to slug
        function convertToSlug(text) {
            text = removeDiacritics(text);
            return text.toLowerCase()
                .replace(/[^\w\s-]/g, '')
                .replace(/\s+/g, '-')
                .replace(/-+/g, '-')
                .trim();
        }
    </script>
}