@page "/faculity/branches"
@model StudentPortal.Areas.Faculities.Pages.BranchesModel
@{
    ViewData["Title"] = "Quản lý Ngành";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb breadcrumb-style1 mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">Khoa - Ngành</a>
        </li>
        <li class="breadcrumb-item active">Ngành</li>
    </ol>
</nav>
<h1>Quản lý Ngành</h1>